<datalist ID="eventtype">
		<option value="市容环卫">
        <option value="城市管理">
        <option value="乱摆卖">
        <option value="饲养宠物家禽扰民">
        <option value="道路破损">
        <option value="商业经营红线内噪声">
        <option value="违法建设">
        <option value="规划方案">
        <option value="房屋征收">
        <option value="悬挂横幅标语、">
        <option value="工业红线内噪声">
        <option value="教学管理">
        <option value="无照经营游商">
        <option value="暴露垃圾">
        <option value="行道树倒压占路">
        <option value="自来水管破裂">
        <option value="交通信号设施">
        <option value="通讯井盖">
        <option value="住宅区域内废弃家具设备">
        <option value="非机动车非法营运">
        <option value="路灯(灯光)井盖">
        <option value="机动车乱停放">
        <option value="店外经营">
        <option value="公共场所噪声">
        <option value="道路遗撒">
        <option value="商业经营红线外噪声">
        <option value="医疗事故争议">
        <option value="假日住宅楼噪声">
        <option value="电力井盖">
        <option value="其他区域堆放施工废弃料">
        <option value="公共绿地养护">
        <option value="人才战略">
        <option value="上水井盖">
        <option value="服务态度">
        <option value="医疗技术和服务">
        <option value="存车支架">
        <option value="生活污水乱排放">
        <option value="学历学位学籍管理">
        <option value="招生违法行为">
        <option value="健身设施">
        <option value="教育体制改革">
        <option value="下水井盖">
        <option value="城市公共设施">
        <option value="工业红线外噪声">
        <option value="乱堆物堆料">
        <option value="未经批准设置广告牌">
        <option value="门店外扫垃圾">
        <option value="广告牌匾">
        <option value="经营者欠薪后逃逸、隐匿，或因欠薪被劳动者投诉">
        <option value="施工占道">
        <option value="劳动者的劳动报酬纠纷">
        <option value="道路塌陷、盖板坍塌">
        <option value="积存垃圾渣土">
        <option value="防撞柱">
        <option value="公共交通管理">
        <option value="指示牌及红绿灯设置">
        <option value="施工噪音">
        <option value="违法在建建筑">
        <option value="下水道堵塞或破损">
        <option value="道路规划建设">
        <option value="社会投资建设工地施工扬尘">
        <option value="废弃车辆">
        <option value="环卫设施不洁">
        <option value="非机动车乱停放">
        <option value="综合执法">
        <option value="绿化带养护">
        <option value="电力设施故障">
        <option value="露天烧烤">
        <option value="房地产">
        <option value="树木养护">
        <option value="房屋拆迁">
        <option value="道路保洁">
        <option value="文化娱乐红线外噪声">
        <option value="工业废气">
        <option value="交通拥堵">
        <option value="合同纠纷">
        <option value="路灯">
        <option value="施工安全隐患">
        <option value="机动车和驾驶员管理">
        <option value="有线电视箱">
        <option value="擅自开工建设">
        <option value="乱设架空管线">
        <option value="油烟污染">
        <option value="工作作风">
        <option value="服务质量">
        <option value="申报登记信息明显与实际信息不符">
        <option value="综合事件采集">
        <option value="公共厕所">
        <option value="房屋拆除、建设扬尘">
        <option value="居住人员隐患">
        <option value="交通标志牌">
        <option value="供水设施故障">
        <option value="化粪池">
        <option value="垃圾处理场臭味扰民">
        <option value="乱丢乱吐">
        <option value="土地规划">
        <option value="过街天桥">
        <option value="道路路面塌陷、凹陷">
        <option value="垃圾箱">
        <option value="教育统筹管理">
        <option value="教育收费">
        <option value="其他施工管理问题">
        <option value="政策外多孩">
        <option value="违法已建建筑">
        <option value="工商经济联络">
        <option value="人力市场管理">
        <option value="未妥善处理劳动者工资或经济补偿金问题">
        <option value="患者权益">
        <option value="机动车噪声">
        <option value="住宅区域内堆放施工废弃料">
        <option value="公共场所渣土倾倒">
        <option value="交通设施噪声">
        <option value="消费者权益纠纷">
        <option value="道路积水">
        <option value="违规使用直排式热水器、强排式热水器">
        <option value="停车场">
        <option value="消防通道堵塞">
        <option value="非指定场所焚烧垃圾产生气味及烟雾">
        <option value="超时施工">
        <option value="其他区域废弃家具">
        <option value="工程招投标">
        <option value="交通护栏">
        <option value="人均租住建筑面积低于六平方米">
        <option value="房屋安全鉴定">
        <option value="易燃易爆危险品">
        <option value="公交站亭">
        <option value="绿地保洁">
        <option value="未取医师执业证违法执业">
        <option value="养殖废气">
        <option value="公共区域垃圾清理">
        <option value="公共场所扬尘">
        <option value="工程欠款">
        <option value="乱收费">
        <option value="街头张贴广告">
        <option value="环保标志管理">
        <option value="无主井盖">
        <option value="社区建设">
        <option value="建筑运输噪声">
        <option value="生活住房医疗">
        <option value="擅自进行改建工程">
        <option value="房屋质量安全隐患">
        <option value="环境监测">
        <option value="业主委员会与物业管理公司的纠纷">
        <option value="路名牌">
        <option value="社区公园设施隐患">
        <option value="精神文明建设">
        <option value="擅自饲养家禽家畜">
        <option value="绿地设施维护">
        <option value="蚊蝇孳生">
        <option value="通信保障">
        <option value="侵占绿地">
        <option value="小区水、电、气维修">
        <option value="宠物扰民">
        <option value="户籍管理">
        <option value="警务执法">
        <option value="新能源产品研发与推广">
        <option value="小区内垃圾清理">
        <option value="临时线路隐患">
        <option value="门窗长期关闭或贴纸的出租屋拒绝或妨碍消防检查">
        <option value="危险用电">
        <option value="教育资源配置">
        <option value="交通信号灯">
        <option value="参战退役人员身份认定">
        <option value="社区公共管理">
        <option value="医疗机构违规收费">
        <option value="药品（医疗器械）监管">
        <option value="工业垃圾堆放">
        <option value="作风建设">
        <option value="消防设施">
        <option value="其他">
        <option value="监控电子眼">
        <option value="其他市容环境问题">
        <option value="架空线缆损坏">
        <option value="环卫工具房">
        <option value="服务行业经营废气">
        <option value="沿街晾挂">
        <option value="噪音设施安装">
        <option value="电动车存消防安全隐患">
        <option value="公安井盖">
        <option value="其它宣传广告问题">
        <option value="福利事业">
        <option value="无证掘路">
        <option value="案件侦破">
        <option value="路灯杆、街边建筑等乱张贴">
        <option value="垃圾臭味扰民">
        <option value="消费维权">
        <option value="河湖堤坝">
        <option value="能源开发供应">
        <option value="致敬致谢">
        <option value="电力设施">
        <option value="行道树">
        <option value="非建筑类边坡安全隐患">
        <option value="市政公园设施隐患">
        <option value="其他野生资源管理">
        <option value="职业资格考试">
        <option value="社团管理">
        <option value="广告招牌破损">
        <option value="路肩墙、路堤墙、路垫墙、山坡墙隐患">
        <option value="垃圾站(楼)">
        <option value="道路污水">
        <option value="计划安置">
        <option value="参试退役人员待遇">
        <option value="暗渠化河道和地下排水管渠">
        <option value="绿地">
        <option value="野生动、植物病虫害">
        <option value="劳动安全">
        <option value="墙体安全隐患">
        <option value="其它园林绿化管理问题">
        <option value="动物尸体清理">
        <option value="建筑工地存在安全隐患">
        <option value="企业隐患自查自治">
        <option value="宣传栏存在倾斜、倒塌、严重破损等安全隐患">
        <option value="通讯交接箱">
        <option value="危房安全隐患">
        <option value="居民自治、民主协商">
        <option value="涉嫌聚众赌博">
        <option value="毒鼠屋">
        <option value="河道污染">
        <option value="私搭乱建">
        <option value="无证经营的职业介绍所">
        <option value="街头散发小广告">
        <option value="生活污水集污沟渠裸露黑臭">
        <option value="交通事故">
        <option value="无照加工厂、无照小作坊、无照维修点、无照废品站、无照商店">
        <option value="公共文化">
        <option value="其他污染">
        <option value="认证认可标准化">
        <option value="景观灯">
        <option value="焚烧垃圾、树叶">
        <option value="燃气经营与服务">
        <option value="敏感区域卸货">
        <option value="机动车非法营运">
        <option value="道路桥梁设施隐患">
        <option value="救灾管理">
        <option value="企业资质证照">
        <option value="无卫生许可证擅自营业">
        <option value="环卫设施隐患">
        <option value="机动车尾气超标">
        <option value="福利待遇纠纷">
        <option value="环境执法">
        <option value="公共区域大量存放泥土，影响通行和卫生">
        <option value="消防设备配备不全">
        <option value="安置补偿">
        <option value="无照经营网吧">
        <option value="商标管理">
        <option value="审批手续">
        <option value="固体废物">
        <option value="经济违法行为举报">
        <option value="医疗救助">
        <option value="违法收运餐厨垃圾">
        <option value="党的建设">
        <option value="地下管道堵塞">
        <option value="饰灯">
        <option value="住房公积金">
        <option value="涉嫌从事色情活动">
        <option value="垃圾收集点">
        <option value="国有土地渣土倾倒">
        <option value="沿街门面装修">
        <option value="工资福利">
        <option value="治安岗亭">
        <option value="报刊亭">
        <option value="股份合作公司纠纷">
        <option value="道路隔音屏">
        <option value="出入境检验检疫">
        <option value="违规收费、价格欺诈">
        <option value="危险山塘、水库">
        <option value="电梯">
        <option value="室内噪声">
        <option value="未许可经营噪声">
        <option value="普法教育">
        <option value="非法加工食品">
        <option value="电信运营商监管">
        <option value="非装饰性树挂">
        <option value="工业污水偷排直排">
        <option value="小散乱污企业">
        <option value="无照设立小门店、集贸市场、商场、超市">
        <option value="建筑设计">
        <option value="规划和土地违法行为">
        <option value="车行道内兜售商品">
        <option value="剥夺或损害员工工作时间和休息休假的权利">
        <option value="教育经费管理">
        <option value="企业资质和执业资格">
        <option value="救灾募捐">
        <option value="义工联">
        <option value="劳动关系纠纷">
        <option value="复员干部安置">
        <option value="核安全">
        <option value="垃圾填埋场管理">
        <option value="就业和再就业职业培训">
        <option value="文化艺术">
        <option value="市政工程扬尘">
        <option value="文化娱乐红线内噪声">
        <option value="计划生育服务管理">
        <option value="黑车拉客">
        <option value="消防设施无法正常使用">
        <option value="占道废品收购">
        <option value="动、植物防疫">
        <option value="体育事业">
        <option value="校园周边安全隐患">
        <option value="私自砍伐、迁移城市树木">
        <option value="邻里纠纷">
        <option value="其它无证经营">
        <option value="招聘录用">
        <option value="道路信息显示屏">
        <option value="非法屠宰禽畜">
        <option value="自来水水质发黄等水质问题">
        <option value="食药监问题">
        <option value="交通电子告示牌">
        <option value="职工工伤保险">
        <option value="绿地护栏">
        <option value="乱堆物堆料、沿街晾挂">
        <option value="立杆">
        <option value="征转地审批">
        <option value="路灯(灯光)配电箱">
        <option value="户籍证件">
        <option value="为员工缴纳社保不规范">
        <option value="计生执法">
        <option value="不文明或违法行为">
        <option value="高压线铁塔">
        <option value="小区内摆放、堆放物品存在安全隐患或影响卫生、通行">
        <option value="雨水箅子">
        <option value="公共区域摆放、堆放物品存在安全隐患或影响卫生、通行">
        <option value="灯箱霓虹灯">
        <option value="未提供必要的劳动环境">
        <option value="违反工作纪律">
        <option value="跨河桥、河堤、河道破损">
        <option value="失职渎职">
        <option value="卫生问题">
        <option value="校园内安全隐患">
        <option value="非公共区域违规排污">
        <option value="地铁站指示牌">
        <option value="发展规划">
        <option value="滥用职权">
        <option value="雨水井盖">
        <option value="职务管理">
        <option value="宣传教育">
        <option value="城中村改造">
        <option value="粉尘涉爆隐患">
        <option value="污水井盖">
        <option value="高架立交桥">
        <option value="城镇危房改造">
        <option value="建筑安装">
        <option value="工作效率">
        <option value="空调噪声">
        <option value="信息产业发展规划">
        <option value="网约车管理">
        <option value="用人单位福利赔偿纠纷">
        <option value="职工医疗保险">
        <option value="燃气管道破裂">
        <option value="知识产权申报">
        <option value="居住场所内存放危险性物品">
        <option value="擅自变动或者损坏房屋">
        <option value="人口政策">
        <option value="棚户区改造">
        <option value="警示标识">
        <option value="路灯&#40;灯光&#41;井盖">
        <option value="无工业产品生产许可证经营行为">
        <option value="职工生育保险">
        <option value="房屋征收过程中产生的安置补偿等问题或纠纷">
        <option value="生态示范和模范城区创建">
        <option value="有证药店非法行医">
        <option value="市场垄断">
        <option value="住宅废气">
        <option value="最低工资标准">
        <option value="未经批准燃放烟花爆竹">
        <option value="权属交易">
        <option value="工程建设地质灾害">
        <option value="交通岗亭">
        <option value="未经批准的营业性演出活动">
        <option value="流动人口管理">
        <option value="专业资格考试">
</datalist>
<datalist ID="community">
    <option value="南布社区">
    <option value="和平社区">
    <option value="坪山社区">
    <option value="汤坑社区">
    <option value="金沙社区">
    <option value="江岭社区">
    <option value="石井社区">
    <option value="六和社区">
    <option value="沙湖社区">
    <option value="老坑社区">
    <option value="竹坑社区">
    <option value="秀新社区">
    <option value="沙田社区">
    <option value="六联社区">
    <option value="坪环社区">
    <option value="龙田社区">
    <option value="坑梓社区">
    <option value="沙坣社区">
    <option value="田头社区">
    <option value="田心社区">
    <option value="碧岭社区">
    <option value="金龟社区">
    <option value="马峦社区">
    <option value="-">
</datalist>
<datalist id="unitname">
    <option value="龙田街道综合执法队">
<option value="环境保护和水务局">
<option value="坪山街道综合执法队">
<option value="城管办（碧岭街道办事处）">
<option value="马峦办事处综合执法队">
<option value="规划土地监察大队">
<option value="和平社区">
<option value="坑梓自来水公司（坑梓辖区）">
<option value="竹坑社区">
<option value="城管办（坑梓街道办事处）">
<option value="沙湖社区">
<option value="教育局">
<option value="市政服务中心（坑梓街道办事处）">
<option value="市交警支队坪山大队">
<option value="广东移动深圳公司">
<option value="城市管理局">
<option value="市政服务中心（坪山街道办事处）">
<option value="市政服务中心（龙田街道办事处）">
<option value="卫生和计划生育局">
<option value="老坑社区">
<option value="六和社区（坪山街道办事处）">
<option value="人力资源局">
<option value="大工业区水务有限公司">
<option value="金沙社区">
<option value="沙田社区">
<option value="政府投资项目前期工作管理办公室">
<option value="坪山供电局">
<option value="龙田社区">
<option value="坪山交通运输局">
<option value="石井办事处综合执法队">
<option value="碧岭社区">
<option value="六联社区">
<option value="秀新社区">
<option value="住房和建设局">
<option value="建筑工务局">
<option value="土地整备中心（马峦）">
<option value="坪山公安分局">
<option value="坪山街道电信营业中心">
<option value="交通轨道办">
<option value="区指挥中心处置">
<option value="纪工委（坑梓街道办事处）">
<option value="土地整备中心（碧岭办）">
<option value="南布社区">
<option value="碧岭办事处市政服务中心">
<option value="市政服务中心（马峦街道办事处）">
<option value="石井办事处市政服务中心">
<option value="城市更新局">
<option value="综治维稳办公室（碧岭街道办事处）">
<option value="坪山区城中村综合整治办">
<option value="坪山社区">
<option value="财政局（国资办）">
<option value="坑梓社区">
<option value="坪环社区">
<option value="经济和科技促进局">
<option value="社保坪山分局">
<option value="市市场和质量监管委坪山局">
<option value="消防安全委员会办公室">
<option value="城建办">
<option value="区委组织部">
<option value="安全生产监督管理办公室（坪山街道办事处）">
<option value="坪山联通营业中心">
<option value="城投公司">
<option value="劳动办（坪山街道办事处）">
<option value="城建办公室（马峦街道办事处）">
<option value="环境水政监察大队">
<option value="城建办公室（坪山街道办事处）">
<option value="城建办公室（碧岭街道办事处）">
<option value="江岭社区">
<option value="六和社区">
<option value="金沙社区（坑梓街道办事处）">
<option value="区委政法委">
<option value="劳动办（坑梓街道办事处）">
<option value="机关事务中心">
<option value="坪山自来水有限公司">
<option value="土地整备局">
<option value="办公室（碧岭街道办事处）">
<option value="民政局">
<option value="城建办（坑梓街道办事处）">
<option value="坑梓街道分中心处置">
<option value="区委宣传部（文体旅游局）">
<option value="市规划国土委坪山管理局">
<option value="区委（区政府）办公室">
<option value="劳动管理办公室（马峦街道办事处）">
<option value="汤坑社区">
<option value="老坑社区（龙田街道办事处）">
<option value="金龟社区工作站">
<option value="石井社区工作站（石井街道办事处）">
<option value="安全生产监督管理局">
<option value="劳动办（龙田街道办事处）">
<option value="石井社区工作站">
<option value="武装部（龙田街道办事处）">
<option value="土地整备中心（坪山街道办事处）">
<option value="消安委办（坪山街道办事处）">
<option value="坪山街道综合执法队（坪山街道办事处）">
<option value="土地整备中心（龙田街道办事处）">
<option value="发展和改革局（统计局）">
<option value="消安委办（石井街道办事处）">
<option value="竹坑社区（龙田街道办事处）">
<option value="消防安全管理委员会办公室">
<option value="沙坣社区">
<option value="龙田社区（龙田街道办事处）">
<option value="综治维稳办（坑梓街道办事处）">
<option value="坪环社区（马峦街道办事处）">
<option value="公共服务办（石井街道办事处）">
<option value="天隆广播电视网络有限公司">
<option value="机关事务管理局">
<option value="纪律检查工作委员会（坪山街道办事处）">
<option value="城建办公室（石井街道办事处）">
<option value="城市管理办公室（马峦街道办事处）">
<option value="秀新社区（坑梓街道办事处）">
<option value="群团工作部">
<option value="坑梓社区（坑梓街道办事处）">
<option value="综治维稳办公室（马峦街道办事处）">
<option value="六联社区（坪山街道办事处）">
<option value="区指挥中心">
<option value="值班应急与智慧管理指挥分中心（马峦街道办事处）">
<option value="值班应急与智慧管理指挥分中心（龙田街道办事处）">
<option value="龙田街道综合执法队（龙田街道办事处）">
<option value="和平社区（坪山街道办事处）">
<option value="田头社区工作站">
<option value="田头社区工作站（石井街道办事处）">
<option value="组织部（坑梓街道办事处）">
<option value="沙田社区（坑梓街道办事处）">
<option value="宣传统战办公室（龙田街道办事处）">
<option value="坑梓自来水公司">
<option value="组织部（龙田街道办事处）">
<option value="机关事务服务中心（马峦街道办事处）">
<option value="安监办（坑梓街道办事处）">
<option value="公共服务办（碧岭街道办事处）">
<option value="江岭社区（马峦街道办事处）">
<option value="区测试责任单位一">
<option value="南布社区（龙田街道办事处）">
<option value="石井办事处综合执法队（石井街道办事处）">
<option value="马峦办事处综合执法队（马峦街道办事处）">
<option value="碧岭办事处市政服务中心（碧岭街道办事处）">
<option value="坪山社区（坪山街道办事处）">
<option value="碧岭社区（碧岭街道办事处）">
<option value="科技创新服务署">
<option value="纪工委（龙田街道办事处）">
<option value="坪山自来水有限公司（坪山街道办事处）">
<option value="市规土委坪山管理局">
<option value="沙坣社区（马峦街道办事处）">
<option value="公共服务办公室（马峦街道办事处）">
<option value="汤坑社区（碧岭街道办事处）">
<option value="石井办事处市政服务中心（石井街道办事处）">
<option value="街区发展办公室（马峦街道办事处）">
<option value="田心社区工作站（石井街道办事处）">
<option value="城建办（龙田街道办事处）">
<option value="土地整备中心（石井街道办事处）">
<option value="坑梓自来水公司（坑梓街道办事处）">
<option value="沙湖社区（碧岭街道办事处）">
<option value="消防安全委员会办公室（坑梓街道办事处）">
<option value="坑梓街道分中心处置（坑梓街道办事处）">
<option value="消安委办（碧岭街道办事处）">
<option value="区责任单位">
<option value="网络表单">
</datalist>
<datalist id="way">
<option value="投诉">
<option value="咨询">
<option value="建议">
<option value="感谢">
<option value="求决">
<option value="其他">
</datalist>
<datalist id="src">
<option value="12345">
<option value="@坪山">
<option value="美丽深圳">
<option value="固话投诉">
<option value="政府信箱">
<option value="12319">
<option value="网页反馈">
</datalist>