{% load staticfiles %}

<!--Jquery.min js-->
        
        <script src="{% static 'chart/datatable/js/jquery.min.js' %}"></script>  
		<!--popper js-->
		<script src="{% static 'chart/datatable/js/popper.js' %}"></script>

		<!--Tooltip js-->
		<script src="{% static 'chart/datatable/js/tooltip.js' %}"></script>

		<!--Bootstrap.min js-->
		<script src="{% static 'chart/datatable/js/bootstrap.min.js' %}"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="{% static 'chart/datatable/js/jquery.nicescroll.min.js' %}"></script>

		<!--Scroll-up-bar.min js-->
		<script src="{% static 'chart/datatable/js/scroll-up-bar.min.js' %}"></script>

		<!--Sidemenu js-->
		<script src="{% static 'chart/datatable/js/sidemenu.js' %}"></script>

		<!--mCustomScrollbar js-->
		<script src="{% static 'chart/datatable/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

		<!--Morris js-->
		<script src="{% static 'chart/datatable/js/morris.min.js' %}"></script>
		<script src="{% static 'chart/datatable/js/raphael.min.js' %}"></script>	

		<!--Scripts js-->
		<script src="{% static 'chart/datatable/js/scripts.js' %}"></script>

		<!--Dashboard js-->
		<script src="{% static 'chart/datatable/js/dashboard.js' %}"></script>
		<script src="{% static 'chart/datatable/js/apexcharts.js' %}"></script>
