{% load staticfiles %}
<div class="main-wrapper" >
	<nav class="navbar navbar-expand-lg main-navbar" >
		<a class="header-brand" href="/chart_mymap">
			<img src="{% static 'chart/datatable/img/logo.png' %}" class="header-brand-img" alt="Harbin Institute Of Technology_Software Project"></img>
		</a>
		<form class="form-inline">
			<ul class="navbar-nav mr-3">
				<li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
				<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
			</ul>
		</form>
        <div class="middle-brand">
			<img src="{% static 'chart/datatable/img/logo2.png' %}" class="middle-brand-img" alt="Harbin Institute Of Technology_Software Project"></img>
		</div>
		<ul class="navbar-nav navbar-right">
			<li class="dropdown dropdown-list-toggle">
				<a href="#" class="nav-link nav-link-lg full-screen-link">
					<i class="ion-arrow-expand"  id="fullscreen-button"></i>
				</a>
			</li>
			<li class="dropdown">
                {% if lv == 1 %}
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
				<img src="https://img04.sogoucdn.com/v2/thumb/resize/w/120/h/90/zi/on/iw/90.0/ih/67.5?t=2&url=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20190929%2F0f5bcee8347f4addaadcda85f70870bc.jpeg&appid=200524" alt="profile-user" class="rounded-circle w-32">
                <div class="d-sm-none d-lg-inline-block">{{username}}</div></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="/datauser" class="dropdown-item has-icon">
						<i class="ion ion-android-person"></i>个人中心
					</a>					
                    <a href="/changepsw" class="dropdown-item has-icon">
						<i class="ion ion-android-person"></i>修改密码
					</a>
					<a href="/logout" class="dropdown-item has-icon">
						<i class="ion-ios-redo"></i>注销
					</a>
				</div>
                {% else %}
                <div style="width:100%;height:100%;"><a href="/login" style="position: relative;top:35%">政府登录入口</a></div>
                {% endif %}
			</li>
		</ul>
	</nav>
	</div>
	<aside class="app-sidebar">
		{% if lv == 1 %}
		<div class="app-sidebar__user">
			<div class="dropdown">
				<a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
					<img alt="image" src="https://img04.sogoucdn.com/v2/thumb/resize/w/120/h/90/zi/on/iw/90.0/ih/67.5?t=2&url=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20190929%2F0f5bcee8347f4addaadcda85f70870bc.jpeg&appid=200524" class=" avatar-md rounded-circle">
					<br></br>
                   
					<span class="ml-2 d-lg-block">
						<span class="text-white app-sidebar__user-name mt-5">{{username}}</span><br>
						<span class="text-muted app-sidebar__user-name text-sm"> 办公人员</span>
					</span>
				</a>
			</div>
		</div>
        {% endif %}
		<ul class="side-menu">
			<li class="slide">
				<a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">数据统计总览</span><i class="angle fa fa-angle-right"></i></a>
			    <ul class="slide-menu">
					<li><a class="slide-item"  href="chart_mymap"><span>热点社区图</span></a></li>
					<li><a class="slide-item"  href="chart_mychart1"><span>街道民生事件情况</span></a></li>
					<li><a class="slide-item"  href="chart_mychart2"><span>民生事件性质统计</span></a></li>
                    <li><a class="slide-item"  href="chart_mychart3"><span>民生事件结办分析</span></a></li>
				</ul>
            </li>
            {% if lv == 1 %}
			<li class="slide">
				<a class="side-menu__item" href="datainput"><i class="side-menu__icon fa fa-flask"></i><span class="side-menu__label">数据添加</span><i class="angle fa fa-angle-right"></i></a>
			</li>
            <li class="slide">
				<a class="side-menu__item" href="dataalert"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">报警数据</span><i class="angle fa fa-angle-right"></i></a>
			</li>
            {% endif %}
            {% if lv == 1 %}
			<li class="slide">
				<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-file-text"></i><span class="side-menu__label">意见反馈建议</span><i class="angle fa fa-angle-right"></i></a>
				<ul class="slide-menu">
					<li><a class="slide-item"  href="databack"><span>反馈意见表</span></a></li>
					<li><a class="slide-item"  href="databackcheck"><span>反馈意见表查看</span></a></li>
				</ul>
			</li>
            {% else %}
            <li class="slide">
				<a class="side-menu__item" href="databack"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">反馈意见表</span><i class="angle fa fa-angle-right"></i></a>
			</li>
            {% endif %}
		</ul>
	</aside>
